.hero-container.blhero2.skhero1
  %span.hero-wave
  .hero-content
    .row
      .col-md-8
        %h1.bold-headline.margin-top0.hero-item
          Simplify your workflows with GitLab
        .hero-item.text-left
          %h3 
            Discover the 10 advantages of single application CI/CD.
            .form-lightbox-open.form-lightbox-open-span Download the eBook.
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          = link_to "/free-trial/", class: "btn cta-btn large orange-light" do
            Try GitLab for FREE
          = link_to "/demo/", class: "btn cta-btn large btn-white flex-container align-center" do
            .i.fas.fa-play.play-icon
            Watch a demo
      .col-md-4.special-link.form-lightbox-open
        %p
          %a
            %span.special-img
              = image_tag "/images/home/single-app-ci-cd-ebook-cover.jpg"
              -#%span See the benefits in our eBook

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}


.bl-modal#form-for-playbook
  %img{ class: "bl-modal-close", src: "/images/icons/x.svg", alt: "Close icon" }
  .bl-modal-content
    %h4.text-center
      Download The CI-CD advantages eBook now
    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    - localvar_form_id = '1002'
    - localvar_form_type = 'resources'
    %form{id: "mktoForm_#{localvar_form_id}"}
    :javascript
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", #{localvar_form_id}, function(form)
      {
        form.onSuccess(function()
        {
          dataLayer.push({
            'event' : '#{localvar_form_type}',
            'mktoFormId' : form.getId(),
            'eventCallback' : function() {
              document.location.href = 'https://cdn.pathfactory.com/assets/10519/contents/89510/96e7f606-e6be-437f-96b4-931b0d4aaaca.pdf';
            },
            'eventTimeout' : 3000
          });
          return false;
        });
      });

<script src="/javascripts/bl-modal.js" type="text/javascript" data-cookieconsent="ignore"></script>
%script{type: "text/javascript", "data-cookieconsent": "ignore"}
  :plain
    blOpenModal('.form-lightbox-open', '#form-for-playbook');

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
